body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
  }

  .jumbotron {
    background-image: url("../images/baseball_background5.jpg");
    background-size: cover;
    text-align: center;
  }

  .list-group-item {
    color:aliceblue;
  }

  .display-4 {
    color:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
  }

  /* Define the colors to be used in the table */
  .stripe-1 {
    background-color: rgba(250, 3, 3, 0.021) !important;

  }
    
  .stripe-2 {
    background-color: rgba(255, 0, 0, 0.11) !important;

  }


  table.table-hover tbody tr:nth-child(even):hover td{
    background-color: rgba(255, 0, 0, 0.274) !important;
}

  table.table-hover tbody tr:nth-child(odd):hover td {
    background-color: rgba(255, 0, 0, 0.274) !important;
}

  table.table-hover thead tr {
    background-color: rgba(0, 128, 0, 0.719);
    color: white;
}
  
  table.table-bordered {
    border-color: #000000;
}

  .col-md-4,
    div.h3   {
    background-color: rgba(13, 112, 38, 0.226);
    color:black; 
  }